{{extend 'layout.html'}}

{{if page:}}

{{=page}}

{{else:}}

{{if auth.is_logged_in():}}
{{=A('Crear Página', _href=URL(f='new'), _class='btn btn-primary')}}
{{pass}}
<div id="blog-header">
  <!-- <img style="width:100%; max-height:357px" src="http://blog.nim.io/download/post.image.9e177a7355059119.6861636b65726d617474657230312d32303133303632302e6a7067.jpg" /> -->
</div>


<div id="blog">

  {{if not dataset:}}
  
  <div class="alert alert-info">No hay artículos públicos en este momento.</div>

  {{else:}}

  {{for d in dataset:}}

  <div class="blog-post">

    <div class="blog-post-title">
      <h1>
	<small class="">{{=d.created_on.date()}}</small>
	<a name="{{=d.mcms_slug}}" href="{{=URL(c='default',f='index' if auth.is_logged_in() else 'view', args=d.mcms_slug)}}">
	  {{=d.mcms_title}}
	</a>
      </h1>

      
      <div class="blog-meta text-left">
	{{if auth.is_logged_in() and not d.mcms_public:}}
	<span class="label label-important">Privado</span>
	{{pass}}
	<!--
	<a class="btn btn-mini"
	   href="/{{=request.application}}/{{=request.controller}}/view/{{=d.mcms_slug}}">
	  Permalink
	</a>
	-->
      </div>
      

      


    </div>





    <div class="blog-post-body">

      {{=TAG(recorta_texto(d.mcms_html,357)).flatten()}}
      
      <div class="text-right">
      <a class="btn" href="{{=URL(f='index' if auth.is_logged_in() else 'view',
			   args=d.mcms_slug)}}">Sigue leyendo <i class="icon-arrow-right"></i></a>
      </div>
    </div>


  </div>
  {{pass #for}}
  {{pass #if}}
</div>
{{pass #if page}}
