{{extend 'layout.html'}}

{{block navbar}}{{end}}

{{=A(TAG.i(_class='icon icon-arrow-left'),' Índice',
_class='btn btn-small', _href=URL(f='index', anchor=slug))}}

<div class="hero-unit">
  <h1 align="center">
    {{=title}}
  </h1>
  <p class="lead text-center">{{=excerpt}}</p>
</div>

{{for d in dataset:}}

<div class="post-links">


  <div class="text-right"><small><Actualizado: {{=prettydate(d.modified_on, T)}}</small></div>
<div>
  <a class="pull-right btn btn-mini" href="{{=URL(args=id)}}">
  <i class="icon-eye-open"></i>
  Permalink
  </a>
</div>



</div>




<div id="page-body">
  {{=XML(d.mcms_html)}}
</div>

{{pass}}
